:root {
	--container-max-width: 64rem;
	--container-margin: 1.5rem;
}

.container {
	--container-width: min(calc(100% - (var(--container-margin) * 2)), var(--container-max-width));
	display: grid;
	padding-inline: calc((100% - var(--container-width)) / 2);
}

a {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block: 1em 0.5em;
}

p {
	margin: 0;
}
p + p {
	margin-top: 1em;
}
